<section class="py-5">
  <div class="container">
    <div class="text-center text-sec">

      <h2 class="display-5 fw-bold pt-4">PORTFOLIO</h2>

      <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
        <div class="dividerLine bg-sec"></div>
        <div class="dividerIcon">
          <i class="fa-solid fa-star fs-2"></i>
        </div>
        <div class="dividerLine bg-sec"></div>
      </div>


      <div class="row g-5">

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio1">
            <img src="../../assets/img/cabin.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio2">
            <img src="../../assets/img/cake.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio3">
            <img src="../../assets/img/circus.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio4">
            <img src="../../assets/img/game.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio5">
            <img src="../../assets/img/safe.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="rounded-3 position-relative portfolioCard pointer" data-bs-toggle="modal" data-bs-target="#portfolio6">
            <img src="../../assets/img/submarine.png" alt="portfolio img" class="img-fluid rounded-3">
            <div class="position-absolute bg-main rounded-3 top-0 bottom-0 start-0 end-0 opacity-0 imgOverlay d-flex justify-content-center align-items-center">
              <i class="fas fa-plus display-2 text-white"></i>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="modal modal-xl fade" id="portfolio1" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">LOG CABIN</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/cabin.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>

<div class="modal modal-xl fade" id="portfolio2" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">TASTY CAKE</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/cake.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>

<div class="modal modal-xl fade" id="portfolio3" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">CIRCUS TENT</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/circus.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>


<div class="modal modal-xl fade" id="portfolio4" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">CONTROLLER</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/game.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>

<div class="modal modal-xl fade" id="portfolio5" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">LOCKED SAFE</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/safe.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>

<div class="modal modal-xl fade" id="portfolio6" tabindex="-1" aria-labelledby="portfolio1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-sec position-relative">

      <div class="modal-header d-flex flex-column justify-content-center align-items-center border-0">
        <h1 class="modal-title display-4 fw-bold" id="portfolio1Label">SUBMARINE</h1>
        <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
          <div class="dividerLine bg-sec"></div>
          <div class="dividerIcon">
            <i class="fa-solid fa-star fs-2"></i>
          </div>
          <div class="dividerLine bg-sec"></div>
        </div>

        <i class="fas fa-x pointer position-absolute top-0 end-0 m-4 text-main fs-2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>

      <div class="modal-body w-75 mx-auto text-center">
        <div class="rounded-3 pb-5">
          <img src="../../assets/img/submarine.png" alt="portfolio img" class="img-fluid rounded-3">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
      </div>

      <div class="modal-footer border-0 justify-content-center">
        <button type="button" class="btn bg-main text-white" data-bs-dismiss="modal">
          <i class="fas fa-x fs-6"></i> Close Window</button>
      </div>

    </div>
  </div>
</div>
