<header class="bg-main py-5">
  <div class="container">
    <div class="text-center py-4 text-white">

      <div>
        <img src="../../assets/img/avataaars.svg" alt="image avatar" id="imgAvatar">
      </div>

      <h1 class="display-2 fw-bold pt-4">START ANGULAR</h1>

      <div class="d-flex justify-content-between align-items-center mx-auto w-25 pb-4">
        <div class="dividerLine bg-white"></div>
        <div class="dividerIcon">
          <i class="fa-solid fa-star fs-2"></i>
        </div>
        <div class="dividerLine bg-white"></div>
      </div>

      <p class="fs-4">Graphic Artist - Web Designer - Illustrator</p>

    </div>
  </div>
</header>
